services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: api-cost-map
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env.dev
    volumes:
      - .:/app

  db:
    image: mysql
    restart: always
    container_name: mysql-server
    env_file:
      - .env.dev
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    command:
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_unicode_ci"
      - "--log-error=/var/lib/mysql/error.log"
      - "--log-error-verbosity=1"
      - "--general-log=0"
      - "--slow_query_log=0"

volumes:
  db_data:
