fastapi==0.115.11
uvicorn==0.34.0
SQLAlchemy==2.0.37
sqlmodel==0.0.22
pydantic==2.9.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
mysql-connector-python==9.3.0
bcrypt==4.0.1
pyaml==25.5.0
pydantic-settings==2.8.0
slowapi==0.1.9
pytest-mock==3.14.0
pytest-asyncio==0.25.3
psycopg2-binary
alembic==1.16.5
python-dotenv